h1 {
	font-family: Garamond;
	text-align: center;
	}

h3 {
	font-family: Garamond;
	text-align: center;
	}

table {
	border-spacing: 5px;
	color: black;
	font-family: Garamond;
	text-align: center; 
	margin-left: auto;
	margin-right: auto;
}

td {
	background-color: #d3d3d3;
	color: black;
	border: 1px solid black;
	margin: 30px;
	padding: 50px;
	border-radius: 5px;
}

span {
	font-family: Helvetica;
	font-size: 130px;
	color: red;
	position: absolute;
	margin: -60px -50px;
	display:none;
}

.dd {
	font-family: Helvetica;
	font-size: 130px;
	color: red;
	position: absolute;
	margin: -80px -40px;
	display:none;
}

#footer {
    position: absolute;
    bottom: 0;
}

#footer {
	font-size: 1em;
}

#placeholder {
	font-size: 2em;
	font-family: cursive;
	font-weight:bold;
	color: red;
}